<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<h1>welcome to the text analyser . Enter your text below</h1>
<form action='/analys' method='get'>
    <textarea name="text" style='margin: 0px; width: 731px; height: 155px;'> </textarea> <br>
    <input type="checkbox" name="removepunc">  REMOVE Panctuation <br>
     <input type="checkbox" name="fullcaps">   UPEERCASE<br>
     <input type="checkbox" name="newlineremover">   NEW LINE REMOVER<br>
    <input type="checkbox" name="spaceremover">   SPACE REMOVER<br>
    <button type='submit'>analys text</button>




</form>
</body>
</html>